* {
  font-family: 'Nanum Gothic', sans-serif;
}

/* BASIC ELEMENTS */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  body {
    padding-top: 75px;
  }
}
@media (min-width: 768px) {
  /* works on general display(desktop) */
  body {
    /* padding-top is 75 + div#cmc-nav_banner.height */
    padding-top: 195px;
  }

img.mfc2{
  margin: 0;
}

}
@media (max-width: 767px) {
  div.cmc-nav-list{
    padding-top: 0px
  }
}

@media (min-width: 768px) {
  div.cmc-nav-list{
    padding-top: 40px
  }

}
