* {
  font-family: 'Nanum Gothic', sans-serif;
}

/* BASIC ELEMENTS */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  body {
    padding-top: 75px;
  }
  img.image_title{
    width:100%;
  }

  h3{
    font-size: 0.8em;
  }

}
@media (min-width: 768px) {
  /* works on general display(desktop) */
  body {
    /* padding-top is 75 + div#cmc-nav_banner.height */
    padding-top: 120px;
  }

  img.image_title{
    width:90%;
  }

img.mfc2{
  margin: 0;
}

div.container{
  width: 1000px;
}

}
@media (max-width: 767px) {
  div.cmc-nav-list{
    padding-top: 0px
  }
}


@media (min-width: 768px) {
  div.cmc-nav-list{
    padding-top: 40px
  }

}


@media (max-width: 767px) {
  div.introduction_img{
    padding-left: 100px;
  }
  div.introduction_font{
    font-size :0.8em;
  }
}
