
        body {
            background-color: black;
            font-family: NanumGothic;
        }
        #title_name {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #main_nav {
            /*메인네비 디자인 스크립트?ㅋㅋ*/
            color: white;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-radius: 25px;
            text-align: center;
            font-family: October Crow;
            margin: auto;
            padding: 18px 0;
            width: 90%; /*네비의 길이*/
        }

            #main_nav li {
                /*메인네비 내용 위치 스크립트*/
                display: inline;
                padding: 0px 40px;
                letter-spacing: 5px;
                font-size: 28px;
                font-weight: 900;
            }
  ul#main_nav li a{text-decoration:none;}
        .mySlides {
            width: 100%;
            height: 670px;
            border-radius: 25px;
            display: none;
        }
        /* 서브*/
        .aside {
            float: left;
            width: 12.5%;
            margin-right: 20px;
            margin-left: 5%;
            margin-top: 2.6%;
        }

  button a{text-decoration:none;}
        /*메인페이지작은 갤러리 속성*/
        .small_gallery {
            height: 200px;
            width: 300px;
            float: right;
            margin-left: 5px;
            opacity: 0.4;
        }

        #menu_name {
            background-color: white;
        }
        /*콘텐츠 부분 */
        content {
            margin-top: 2.6%;
            width: 75%;
            height: 100%;
            float: right;
            margin-right: 5%;
        }
        /*풋 부분 */
        /*nav ctrl*/
        ul.nav-ctrl {
            position: fixed;
            margin: 0;
            padding: 0;
            right: 0;
            bottom: 0;
            list-style-type: none;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-bottom: none;
            border-right: none;
            border-top-left-radius: 5px;
            background-color: #000;
            //opacity:1;
        }

        .li_top, .li_bottom {
            float: left;
        }

        .nav-ctrl .li_bottom a {
            color: black;
            display: inline-block;
            border-left: 2px dashed #fff;
            border-bottom: none;
        }