<!--
    FILE NAME: navbar.html
  DESCRIPTION: 상단의 네비게이션 바를 정리한 것입니다.
-->

<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">

    <div id="cmc-nav-banner" class="container-fluid hidden-xs">

    </div>

    <!-- 홈페이지의 폭이 좁을 경우 모바일용 메뉴로 바뀐다 -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homepage-menu-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.url }}/" style="padding-top:30px"><strong>이채린 포트폴리오</strong></a>
      <!-- 좌측의 사이트 제목 -->

    </div>


    <div class="collapse navbar-collapse cmc-nav-list" id="homepage-menu-collapse">

      <!-- 우측의 메뉴들/ <li>태그들이 하나의 메뉴 항목이 된다 -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}/">HOME</a></li>
        <li><a href="{{ site.url }}/htmlPage/introduction">소개</a></li>

        <li class="dropdown">
          <a href="{{ site.url }}/people" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">프로젝트 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.url }}/htmlPage/pongdang.html">졸업작품(퐁당!)</a></li>
            <li><a href="{{ site.url }}/htmlPage/webprogram.html">웹프로그래밍(1)</a></li>
            <li><a href="{{ site.url }}/htmlPage/preparing">웹프로그래밍(2)</a></li>
            <li><a href="{{ site.url }}/htmlPage/GameProgramming">게임프로그래밍(1)</a></li>
            <li><a href="{{ site.url }}/htmlPage/pisgame">게임프로그래밍(2)</a></li>
            <li><a href="{{ site.url }}/htmlPage/Graphics">컴퓨터그래픽스(2)</a></li>
            <li><a href="{{ site.url }}/htmlPage/ImageProcessing">영상처리</a></li>
            <li><a href="{{ site.url }}/htmlPage/MFC2">멀티미디어프로그래밍(2)</a></li>
            <li><a href="{{ site.url }}/htmlPage/video">영상제작</a></li>
            <li><a href="{{ site.url }}/htmlPage/plan">기획</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}/htmlPage/cmclabcl">연구실프로젝트</a></li>
      </ul>

    </div>

  </div>
</nav>
