<!--
    FILE NAME: navbar.html
  DESCRIPTION: 상단의 네비게이션 바를 정리한 것입니다.
-->
<div class="container">
<nav class="navbar navbar-light bg-light navbar-fixed-top">
      <!-- 좌측의 사이트 제목 -->
      <a class="navbar-brand" href="{{ site.url }}/"><strong>이채린</strong>포트폴리오</a>

      <!-- 홈페이지의 폭이 좁을 경우 모바일용 메뉴로 바뀐다 -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarColor03">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor03">

      <!-- 우측의 메뉴들/ <li>태그들이 하나의 메뉴 항목이 된다 -->
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active"><a class="nav-link" href="http://mmmmyyyypp.cf/" style="padding-right: 10px;">Home <span class="sr-only">(current)</span></li>
          <li class="nav-item"><a class="nav-link" href="/htmlPage/introduction.html">소개 </a></li>
          <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding-right: 10px;">제작프로젝트</a>
        <ul class="dropdown-menu" role="menu">
            <li class="nav-item"> <a class="dropdown-item" href="/webProject/메인.html">웹</a> </li>
            <li class="nav-item"> <a class="dropdown-item" href="/htmlPage/GameProgramming.html">게임</a> </li>
            <li class="nav-item"> <a class="dropdown-item" href="/htmlPage/Graphics.html">그래픽스</a> </li>
            <li class="nav-item"> <a class="dropdown-item" href="/htmlPage/etc.html">기타</a> </li>
        </ul>
      </li>

      <li class="nav-item"><a class="nav-link" href="#" style="padding-right: 10px;">연구실 활동</a></li>
      <li class="nav-item"><a class="nav-link" href="#" style="padding-right: 10px;">제작예정</a></li>
      </ul>

    </div>

  </div>
</nav>
</div>
