@font-face {
    font-family:'October Crow';
    src: url("/webProject/webfont/October Crow.ttf") format('truetype');
}       

body {
            background-color: black;
            font-family: NanumGothic;
        }


        #title_name {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

       #main_nav {
            /*메인네비 디자인 스크립트?ㅋㅋ*/
            color: white;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-radius: 25px;
            text-align: center;
            font-family: October Crow;
            margin: auto;
            padding: 18px 0;
            width: 90%; /*네비의 길이*/
        }

            #main_nav li {
                /*메인네비 내용 위치 스크립트*/
                display: inline;
                padding: 0px 40px;
                letter-spacing: 5px;
                font-size: 28px;
                font-weight: 900;
            }
  ul#main_nav li a{text-decoration:none;}
        .mySlides {/*아래 계절설명_길이*/
            width: 100%;
            height: 1000px;
            border-radius: 25px;
        }

        /*메인페이지작은 갤러리 속성*/
        .small_gallery {
            height: 200px;
            width: 300px;
            float: right;
            margin-left: 5px;
            opacity: 0.4;
        }

  /* 서브*/
  .aside{
    float:left;
    width:12.5%;
    margin-right:20px;
    margin-left:5%;
    margin-top:2.6%;
  }

  button a{text-decoration:none;}


        #menu_name {
            background-color: white;
        }

        /*콘텐츠 부분 */
        content{
            margin-top: 2.6%;
            /*background-color: white;*/
            width: 69%;
            height: 500px;
            float: right;
            margin-right: 6%;
            border-radius: 25px;
        }
        .mySlides
        
 /*********************************************************************************************************************************/
/*아코디언 */
#section {
	width:1035px; 
	margin:0 5%; 
	padding:30px 0 0;
}
#section > div {
	margin-bottom:100px;
}
#section .section {
	height:600px;
}
#section .section .cont {
	width:180px; 
	height:600px; 
	overflow:hidden; 
	float:left; 
	position:relative; 
}

#section .section .cont.on {
	
    width:450px;
}
#section .section .cont.on .title_off {/*켜진곳의 타이틀 오프는 안쓰니까 디스플레이:논 을 해서 아에 없는거로 보여준다*/
	display:none;
}
#section .section .cont.on .title_on {
	display:block;
}
#section .section .cont.on .layer {/*켜진곳은 어둡게 안할꺼니까 디스플레이:논 을 해서 아에 없는거로 보여준다*/
	display:none
}

/*#section .section .cont .title_off,
#section .section .cont .title_on {
	position:relative;
	display:block;
	width:153px;
	text-align:center;
	z-index:9999;
	padding-top: 70px;
}*/

/*#section .section .cont .title_on {
	width:413px;
	display:none
}*/


#section .section .cont .layer {/*검정색으로 덮는 부분*/
	display:block; 
	width:450px; 
	height:593px; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1; 
	background:#333333; 
	filter:alpha(opacity=90); 
	opacity:0.9;
}

  /*풋 부분 */
  
  /*nav ctrl*/
  ul.nav-ctrl{
    position:fixed;
    margin:0;
    padding:0;
    right:0;
    bottom:0;
    list-style-type:none;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:none;
    border-right:none;
    border-top-left-radius:5px;
    background-color:#000;
    //opacity:1;
  }
      
  .li_top ,.li_bottom{
    float:left;
  }
  
  .nav-ctrl .li_bottom a{
    color:black;
    display:inline-block;
    border-left:2px dashed #fff;
